.hardenedInactive {
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  box-shadow: 0px 3px 6px #00000029;
  background: #39AEA9;
  margin: 2px;
}

.hardenedActive {
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  box-shadow: 0px 3px 6px #00000029;
  background: #E5EFC0;
  margin: 2px;
}

.hardenedActive svg, .hardenedInactive svg, .checkIcon svg, .closeIcon svg, .returnIcon svg {
  display: block;
  margin: auto;
}

.checkIcon {
  background: #6dc1a9;
  flex-grow: 0;
  box-shadow: 2px 2px 2px #00000029;
  border-radius: 3px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 2px;
}

.returnIcon {
  background: #E5EFC09;
  flex-grow: 0;
  box-shadow: 2px 2px 2px #00000029;
  border-radius: 3px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 2px;
}

.closeIcon {
  background: #FF7D7D;
  flex-grow: 0;
  box-shadow: 2px 2px 2px #00000029;
  border-radius: 3px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 2px;
}
