.checkIcon svg, .closeIcon svg, .returnIcon svg {
  display: block;
  margin: auto;
  padding: 0;
}

.checkIcon {
  background: #6dc1a9;
  flex-grow: 0;
  box-shadow: 2px 2px 2px #00000029;
  border-radius: 3px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 2px;
}

.checkIcon svg {
  padding: 0.5rem;
}

.returnIcon {
  background: #E5EFC09;
  flex-grow: 0;
  box-shadow: 2px 2px 2px #00000029;
  border-radius: 3px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 2px;
}

.returnIcon svg {
  padding: 0.5rem;
}

.closeIcon {
  background: #FF7D7D;
  flex-grow: 0;
  box-shadow: 2px 2px 2px #00000029;
  border-radius: 3px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 2px;
}

.closeIcon svg {
  padding: 0.5rem;
}
