.sidebarBlock {
  width: 17.5rem;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  transition: height 0.3s;
  overflow: hidden;
  height: 3rem;
}

.sidebarBlockClosed {
  background-color: #39AEA9;
  cursor: pointer;
}

.sidebarBlockOpened {
  background-color: #567B83;
  height: 12rem;
}

.sidebarBlockDisabled {
  background-color: #6DC1A9;
  opacity: 49%;
}

.sidebarBlockRow {
  width: 15.5rem;
  height: 3rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  margin: 0;
}
