.TextButton {
  padding: 0.75rem;
  font: SemiBold;
  font-size: 1rem;
  width: 10rem;
  height: 1rem;
  color: #5A5152;
  background: #E5EFC0;
  box-shadow: 2px 2px 2px #00000029;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.TextButton.Disabled {
  cursor: not-allowed;
  background-color: #ABB38E;
  color: #958688;
}
