body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #5A5152;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS variables */

:root {
  --sidebar-width: 418px;
  --sidebar-color: #A3D5AB;
  --sidebar-padding: 21px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 16px;
}
